<mat-toolbar>
  <h1>StockApp</h1>

  <div class="header__flex-space"></div>

  <div *ngIf="auth.isLoggedIn" class="header__data">
    Data Updated: {{getLastUpdated()}}
    <button mat-button [disabled]="data.isLoading" (click)="data.updateDataFake()">
      {{ data.isLoading ? 'Loading' : 'Update' }}
    </button>
    <mat-progress-spinner *ngIf="data.isLoading" [value]="data.progress" diameter="15" ></mat-progress-spinner>
  </div>

  <div class="header__flex-space"></div>

  <div *ngIf="auth.isLoggedIn" class="header__user">
    <mat-icon aria-hidden="false" aria-label="User icon">account_circle</mat-icon>
    <div class="header__username">{{ auth.username }}</div>
    <button mat-flat-button color="accent" (click)="auth.logout()">Logout</button>
  </div>
</mat-toolbar>
